<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加航班</title>
</head>
<body>
    <h1>添加航班</h1>
    <form method="post">
        <div>
            飞机机型:
            <input type="text" name="plane" >
        </div>
        <div>
            出发地:
            <input type="text" name="departure">
        </div>
        <div>
            目的地:
            <input type="text" name="terminal">
        </div>
        <div>
            出发时间:
            <input type="datetime-local" name="leaveTime">
        </div>
        <div>
            到达时间:
            <input type="datetime-local" name="arriveTime">
        </div>
        <div>
            总票数:
            <input type="number" name="totalTicket">
        </div>
        <div>
            票价:
            <input type="number" name="ticketMoney">
        </div>
        <div>
            航空公司:
            <input type="text" name="company">
        </div>
        <input type="submit" value="提交">
  </form>
</body>
</html>